#logo {
	font-weight: bolder;
	font-size: 60pt;
}

#sakto {
	color: #A30000;
	font-weight: bolder;
	font-size: 36pt;
}

#apps {
	color: #000000;
	margin-left: 2px;
	font-weight: bolder;
	font-size: 36pt;
}